/*------------------------------------*\
   LOCAL SCREENS
\*------------------------------------*/
.logo-image-apple-watch-series-4-logo-hero-d4753 {
	background-image: url("../images/logos/apple_watch_series_4_logo_hero_d4753_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.logo-image-apple-watch-series-4-logo-hero-d4753 {
		background-image: url("../images/logos/apple_watch_series_4_logo_hero_d4753_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.logo-image-apple-watch-series-4-logo-hero-d4753 {
		background-image: url("../images/logos/apple_watch_series_4_logo_hero_d4753_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.logo-image-apple-watch-series-4-logo-hero-d4753 {
		background-image: url("../images/logos/apple_watch_series_4_logo_hero_d4753_medium_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.logo-image-apple-watch-series-4-logo-hero-d4753 {
		background-image: url("../images/logos/apple_watch_series_4_logo_hero_d4753_small.jpg")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.logo-image-apple-watch-series-4-logo-hero-d4753 {
		background-image: url("../images/logos/apple_watch_series_4_logo_hero_d4753_small_2x.jpg")
	}
}

.main [data-module-template="event-takeover-hero"] .unit-image-wrapper .unit-image.unit-image-headline-making-5175e9a6 {
	background-image: url("../images/event-takeover-hero/headline_making_5175e9a6_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.main [data-module-template="event-takeover-hero"] .unit-image-wrapper .unit-image.unit-image-headline-making-5175e9a6 {
		background-image: url("../images/event-takeover-hero/headline_making_5175e9a6_large_2x.png")
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="event-takeover-hero"] .unit-image-wrapper .unit-image.unit-image-headline-making-5175e9a6 {
		background-image: url("../images/event-takeover-hero/headline_making_5175e9a6_medium.png")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.main [data-module-template="event-takeover-hero"] .unit-image-wrapper .unit-image.unit-image-headline-making-5175e9a6 {
		background-image: url("../images/event-takeover-hero/headline_making_5175e9a6_medium_2x.png")
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="event-takeover-hero"] .unit-image-wrapper .unit-image.unit-image-headline-making-5175e9a6 {
		background-image: url("../images/event-takeover-hero/headline_making_5175e9a6_small.png")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.main [data-module-template="event-takeover-hero"] .unit-image-wrapper .unit-image.unit-image-headline-making-5175e9a6 {
		background-image: url("../images/event-takeover-hero/headline_making_5175e9a6_small_2x.png")
	}
}

.main [data-module-template="event-takeover-hero"] .logo-image-hero-headline {
	  width: 461px;
    height: 150px;
    background-size: 461px 150px;
    background-image: url("../images/event-takeover-hero/headline_making_5175e9a6_large.png");
    margin-top: -25px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	  .main [data-module-template="event-takeover-hero"] .logo-image-hero-headline {
	      background-image:url("../images/event-takeover-hero/headline_making_5175e9a6_large_2x.png")
    }
}

@media only screen and (max-width: 1068px) {
	  .main [data-module-template="event-takeover-hero"] .logo-image-hero-headline {
	      width: 378px;
        height: 123px;
        background-size: 378px 123px;
        background-image: url("../images/event-takeover-hero/headline_making_5175e9a6_medium.png")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	  .main [data-module-template="event-takeover-hero"] .logo-image-hero-headline {
	      background-image:url("../images/event-takeover-hero/headline_making_5175e9a6_medium_2x.png")
    }
}

@media only screen and (max-width: 735px) {
	  .main [data-module-template="event-takeover-hero"] .logo-image-hero-headline {
	      width: 280px;
        height: 83px;
        background-size: 280px 83px;
        background-image: url("../images/event-takeover-hero/headline_making_5175e9a6_small.png")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	  .main [data-module-template="event-takeover-hero"] .logo-image-hero-headline {
	      background-image:url("../images/event-takeover-hero/headline_making_5175e9a6_small_2x.png")
    }
}

@media only screen and (max-width: 1068px) {
	  .main [data-module-template="event-takeover-hero"] .logo-image-hero-headline {
	      margin-top:-15px
    }
}

@media only screen and (max-width: 735px) {
	  .main [data-module-template="event-takeover-hero"] .logo-image-hero-headline {
	      margin-top: -20px;
	   }
}

.main [data-module-template="event-takeover-promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-logo-watch-series-4-9eb9c9b1 {
	background-image: url("../images/event-takeover-promos/apple-watch-series-4/logo_watch_series_4_9eb9c9b1_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.main [data-module-template="event-takeover-promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-logo-watch-series-4-9eb9c9b1 {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/logo_watch_series_4_9eb9c9b1_large_2x.png")
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="event-takeover-promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-logo-watch-series-4-9eb9c9b1 {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/logo_watch_series_4_9eb9c9b1_medium.png")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.main [data-module-template="event-takeover-promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-logo-watch-series-4-9eb9c9b1 {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/logo_watch_series_4_9eb9c9b1_medium_2x.png")
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="event-takeover-promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-logo-watch-series-4-9eb9c9b1 {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/logo_watch_series_4_9eb9c9b1_small.png")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.main [data-module-template="event-takeover-promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-logo-watch-series-4-9eb9c9b1 {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/logo_watch_series_4_9eb9c9b1_small_2x.png")
	}
}

.main [data-module-template="event-takeover-promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-watch-series-4-16a4d2fc {
	background-image: url("../images/event-takeover-promos/apple-watch-series-4/watch_series_4_16a4d2fc_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.main [data-module-template="event-takeover-promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-watch-series-4-16a4d2fc {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/watch_series_4_16a4d2fc_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="event-takeover-promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-watch-series-4-16a4d2fc {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/watch_series_4_16a4d2fc_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.main [data-module-template="event-takeover-promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-watch-series-4-16a4d2fc {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/watch_series_4_16a4d2fc_medium_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="event-takeover-promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-watch-series-4-16a4d2fc {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/watch_series_4_16a4d2fc_small.jpg")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.main [data-module-template="event-takeover-promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-watch-series-4-16a4d2fc {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/watch_series_4_16a4d2fc_small_2x.jpg")
	}
}

.main [data-module-template="event-takeover-promos"] [data-unit-id="apple-watch-series-4"] .logo-image-apple-watch-series-4 {
	background-image: url("../images/event-takeover-promos/apple-watch-series-4/logo_watch_series_4_9eb9c9b1_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.main [data-module-template="event-takeover-promos"] [data-unit-id="apple-watch-series-4"] .logo-image-apple-watch-series-4 {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/logo_watch_series_4_9eb9c9b1_large_2x.png")
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="event-takeover-promos"] [data-unit-id="apple-watch-series-4"] .logo-image-apple-watch-series-4 {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/logo_watch_series_4_9eb9c9b1_medium.png")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.main [data-module-template="event-takeover-promos"] [data-unit-id="apple-watch-series-4"] .logo-image-apple-watch-series-4 {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/logo_watch_series_4_9eb9c9b1_medium_2x.png")
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="event-takeover-promos"] [data-unit-id="apple-watch-series-4"] .logo-image-apple-watch-series-4 {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/logo_watch_series_4_9eb9c9b1_small.png")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.main [data-module-template="event-takeover-promos"] [data-unit-id="apple-watch-series-4"] .logo-image-apple-watch-series-4 {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/logo_watch_series_4_9eb9c9b1_small_2x.png")
	}
}

.main [data-module-template="event-takeover-promos"] [data-unit-id="apple-watch-series-4"] .image-watch-series-4 {
	background-image: url("../images/event-takeover-promos/apple-watch-series-4/watch_series_4_16a4d2fc_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.main [data-module-template="event-takeover-promos"] [data-unit-id="apple-watch-series-4"] .image-watch-series-4 {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/watch_series_4_16a4d2fc_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="event-takeover-promos"] [data-unit-id="apple-watch-series-4"] .image-watch-series-4 {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/watch_series_4_16a4d2fc_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.main [data-module-template="event-takeover-promos"] [data-unit-id="apple-watch-series-4"] .image-watch-series-4 {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/watch_series_4_16a4d2fc_medium_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="event-takeover-promos"] [data-unit-id="apple-watch-series-4"] .image-watch-series-4 {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/watch_series_4_16a4d2fc_small.jpg")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.main [data-module-template="event-takeover-promos"] [data-unit-id="apple-watch-series-4"] .image-watch-series-4 {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/watch_series_4_16a4d2fc_small_2x.jpg")
	}
}

.main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
	  width: 342px;
    height: 624px;
    background-size: 342px 624px;
    background-image: url("../images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	  .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
	      background-image:url("../images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
	  .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
	      width: 345px;
        height: 617px;
        background-size: 345px 617px;
        background-image: url("../images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	  .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
	      background-image:url("../images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
	  .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
	      width:422px;
        height: 313px;
        background-size: 422px 313px;
        background-image: url("../images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	  .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
	      background-image:url("../images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_small_2x.jpg")
    }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) {
	  .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
	      width: 408px;
        height: 738px;
        background-size: 408px 738px;
        background-image: url("../images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_largetall.jpg")
    }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 1.5dppx), only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 144dpi) {
	  .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
	      background-image:url("../images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_largetall_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) and (min-width: 736px) and (min-height: 734px) {
	  .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
	      width: 364px;
        height: 698px;
        background-size: 364px 698px;
        background-image: url("../images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_mediumtall.jpg")
    }
}

@media only screen and (max-width: 1068px) and (min-width: 736px) and (min-height: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-width: 736px) and (min-height: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-width: 736px) and (min-height: 734px) and (min-resolution: 144dpi) {
	  .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
	      background-image:url("../images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_mediumtall_2x.jpg")
    }
}

.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-logo-watch-series-4-9eb9c9b1 {
	background-image: url("../images/event-takeover-promos/apple-watch-series-4/logo_watch_series_4_9eb9c9b1_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-logo-watch-series-4-9eb9c9b1 {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/logo_watch_series_4_9eb9c9b1_large_2x.png")
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-logo-watch-series-4-9eb9c9b1 {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/logo_watch_series_4_9eb9c9b1_medium.png")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-logo-watch-series-4-9eb9c9b1 {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/logo_watch_series_4_9eb9c9b1_medium_2x.png")
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-logo-watch-series-4-9eb9c9b1 {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/logo_watch_series_4_9eb9c9b1_small.png")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-logo-watch-series-4-9eb9c9b1 {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/logo_watch_series_4_9eb9c9b1_small_2x.png")
	}
}

.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-watch-series-4-16a4d2fc {
	background-image: url("../images/event-takeover-promos/apple-watch-series-4/watch_series_4_16a4d2fc_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-watch-series-4-16a4d2fc {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/watch_series_4_16a4d2fc_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-watch-series-4-16a4d2fc {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/watch_series_4_16a4d2fc_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-watch-series-4-16a4d2fc {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/watch_series_4_16a4d2fc_medium_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-watch-series-4-16a4d2fc {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/watch_series_4_16a4d2fc_small.jpg")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-watch-series-4-16a4d2fc {
		background-image: url("../images/event-takeover-promos/apple-watch-series-4/watch_series_4_16a4d2fc_small_2x.jpg")
	}
}

.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-tv-apple-tv-4k--2e48473791 {
	background-image: url("../images/promos/apple-tv/apple_tv_4k__2e48473791_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-tv-apple-tv-4k--2e48473791 {
		background-image: url("../images/promos/apple-tv/apple_tv_4k__2e48473791_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-tv-apple-tv-4k--2e48473791 {
		background-image: url("../images/promos/apple-tv/apple_tv_4k__2e48473791_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-tv-apple-tv-4k--2e48473791 {
		background-image: url("../images/promos/apple-tv/apple_tv_4k__2e48473791_medium_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-tv-apple-tv-4k--2e48473791 {
		background-image: url("../images/promos/apple-tv/apple_tv_4k__2e48473791_small.jpg")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-tv-apple-tv-4k--2e48473791 {
		background-image: url("../images/promos/apple-tv/apple_tv_4k__2e48473791_small_2x.jpg")
	}
}

.logo-image-music {
	  width: 127px;
    height: 31px;
    background-size: 127px 31px;
    background-repeat: no-repeat;
    background-image: url("../images/logos/music_large.png");
    background-position: center
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	  .logo-image-music {
	      background-image:url("../images/logos/music_large_2x.png")
    }
}

@media only screen and (max-width: 1068px) {
	  .logo-image-music {
	      width:103px;
        height: 25px;
        background-size: 103px 25px;
        background-repeat: no-repeat;
        background-image: url("../images/logos/music_medium.png")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	  .logo-image-music {
	      background-image:url("../images/logos/music_medium_2x.png")
    }
}

@media only screen and (max-width: 735px) {
	  .logo-image-music {
	      width:103px;
        height: 25px;
        background-size: 103px 25px;
        background-repeat: no-repeat;
        background-image: url("../images/logos/music_small.png")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	  .logo-image-music {
	      background-image:url("../images/logos/music_small_2x.png")
    }
}

.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-music-apple-music {
	width: 1262px;
	height: 580px;
	background-size: 1262px 580px;
	background-image: url("../images/promos/apple-music/apple_music_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-music-apple-music {
		background-image: url("../images/promos/apple-music/apple_music_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-music-apple-music {
		width: 516px;
		height: 490px;
		background-size: 516px 490px;
		background-image: url("../images/promos/apple-music/apple_music_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-music-apple-music {
		background-image: url("../images/promos/apple-music/apple_music_medium_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-music-apple-music {
		width: 736px;
		height: 548px;
		background-size: 736px 548px;
		background-image: url("../images/promos/apple-music/apple_music_small.jpg")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-music-apple-music {
		background-image: url("../images/promos/apple-music/apple_music_small_2x.jpg")
	}
}

.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-music-icon-apple-music {
	width: 37px;
	height: 37px;
	background-size: 37px 37px;
	background-image: url("../images/promos/apple-music/icon_apple_music_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-music-icon-apple-music {
		background-image: url("../images/promos/apple-music/icon_apple_music_large_2x.png")
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-music-icon-apple-music {
		width: 33px;
		height: 33px;
		background-size: 33px 33px;
		background-image: url("../images/promos/apple-music/icon_apple_music_medium.png")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-music-icon-apple-music {
		background-image: url("../images/promos/apple-music/icon_apple_music_medium_2x.png")
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-music-icon-apple-music {
		width: 33px;
		height: 33px;
		background-size: 33px 33px;
		background-image: url("../images/promos/apple-music/icon_apple_music_small.png")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-music-icon-apple-music {
		background-image: url("../images/promos/apple-music/icon_apple_music_small_2x.png")
	}
}

.main [data-module-template="promos"] [data-unit-id="apple-music"] .logo-image-music-icon {
	width: 37px;
	height: 37px;
	background-size: 37px 37px;
	background-image: url("../images/promos/apple-music/icon_apple_music_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.main [data-module-template="promos"] [data-unit-id="apple-music"] .logo-image-music-icon {
		background-image: url("../images/promos/apple-music/icon_apple_music_large_2x.png")
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] [data-unit-id="apple-music"] .logo-image-music-icon {
		width: 33px;
		height: 33px;
		background-size: 33px 33px;
		background-image: url("../images/promos/apple-music/icon_apple_music_medium.png")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] [data-unit-id="apple-music"] .logo-image-music-icon {
		background-image: url("../images/promos/apple-music/icon_apple_music_medium_2x.png")
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="promos"] [data-unit-id="apple-music"] .logo-image-music-icon {
		width: 33px;
		height: 33px;
		background-size: 33px 33px;
		background-image: url("../images/promos/apple-music/icon_apple_music_small.png")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] [data-unit-id="apple-music"] .logo-image-music-icon {
		background-image: url("../images/promos/apple-music/icon_apple_music_small_2x.png")
	}
}

/*------------------------------------*\
   END LOCAL SCREENS
\*------------------------------------*/
/*------------------------------------*\
   LOCAL FIXES
\*------------------------------------*/
div.promo.apple-music.promo-apple-music > div > div.unit-copy-wrapper > div
{
	padding-left: 20px;
	padding-right: 20px;
}

body > main > section:nth-child(4) > div.promo.apple-event.promo-apple-event > div > div.unit-copy-wrapper > h5 { max-width: 420px; }

@media only screen and (max-width: 1068px)
{
	.main [data-module-template="promos"] [data-unit-id="ipad"] .unit-copy-wrapper .subhead
	{
		max-width: 100%;
		width: 100%;
	}
}

@media only screen and (max-width: 735px)
{
	.main [data-module-template="promos"] [data-unit-id="ipad"] .unit-copy-wrapper .subhead
	{
		max-width: 100%;
		width: 100%;
	}
}

@media only screen and (max-width: 735px)
{
	.main [data-module-template="heroes"] [data-unit-id] .unit-copy-wrapper>*.preorder-date { margin-top: 3px; }
}

@media only screen and (max-width: 735px)
{
	.main [data-module-template="heroes"] [data-unit-id="iphone-xr"] .unit-copy-wrapper>*.cta-links,
		.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .unit-copy-wrapper>*.cta-links,
		.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-copy-wrapper>*.cta-links { margin-top: 3px; }
}

@media only screen and (max-width: 735px)
{
	.main [data-module-template="promos"] [data-unit-id] .unit-copy-wrapper .cta-links a:last-child { margin-left: 10px; }
}

@media only screen and (max-width: 735px)
{
	.main [data-module-template="heroes"] [data-unit-id] .unit-copy-wrapper>*.cta-links a:last-child { margin-left: 10px; }
}

.main [data-module-template="promos"] [data-unit-id] .unit-copy-wrapper .cta-links a:first-child { margin-left: 0; }

.main [data-module-template="promos"] [data-unit-id="apple-music"]  .unit-copy-wrapper .cta-links a
{
	margin-left: 10px!important;
	margin-right: 10px!important;
}

@media only screen and (max-width: 735px)
{
	.main [data-module-template="promos"] [data-unit-id="apple-music"]  .unit-copy-wrapper .cta-links a
	{
		margin-left: 5px!important;
		margin-right: 5px!important;
	}
}

/*------------------------------------*\
   END LOCAL FIXES
\*------------------------------------*/